Repository rojo-rbx/rojo, pull requests merged in 2023-09, with the labels that each got.

#779 Use `conflicts_with` for build flags
  src/cli/build.rs
Labels: skip changelog

#784 Use GUIDs for ephemeral PluginWidgets
  plugin/src/App/Components/Studio/StudioPluginGui.lua
  plugin/src/App/StatusPages/Confirming.lua
  plugin/src/App/StatusPages/Connected.lua
  plugin/src/App/init.lua
Labels: scope: plugin, size: small, status: needs review, skip changelog

#785 Stylua formatting
  .github/workflows/ci.yml
  aftman.toml
  plugin/src/ApiContext.lua
  plugin/src/App/Components/Checkbox.lua
  plugin/src/App/Components/CodeLabel.lua
  plugin/src/App/Components/Dropdown.lua
  plugin/src/App/Components/IconButton.lua
  plugin/src/App/Components/PatchVisualizer/DisplayValue.lua
  plugin/src/App/Components/PatchVisualizer/init.lua
  plugin/src/App/Components/Studio/StudioPluginAction.lua
  plugin/src/App/Components/Studio/StudioPluginGui.lua
  plugin/src/App/Components/Studio/StudioToggleButton.lua
  plugin/src/App/Components/Studio/StudioToolbar.lua
  plugin/src/App/Components/TextButton.lua
  plugin/src/App/Components/TextInput.lua
  plugin/src/App/Components/Tooltip.lua
  plugin/src/App/Components/TouchRipple.lua
  plugin/src/App/Notifications.lua
  plugin/src/App/Page.lua
  plugin/src/App/StatusPages/Confirming.lua
  plugin/src/App/StatusPages/Connected.lua
  plugin/src/App/StatusPages/Error.lua
  plugin/src/App/StatusPages/NotConnected.lua
  plugin/src/App/StatusPages/Settings/Setting.lua
  plugin/src/App/StatusPages/Settings/init.lua
  plugin/src/App/Theme.lua
  plugin/src/App/init.lua
  plugin/src/Assets.lua
  plugin/src/Config.lua
  plugin/src/Dictionary.lua
  plugin/src/InstanceMap.lua
  plugin/src/PatchSet.lua
  plugin/src/PatchTree.lua
  plugin/src/Reconciler/applyPatch.spec.lua
  plugin/src/Reconciler/decodeValue.lua
  plugin/src/Reconciler/diff.lua
  plugin/src/Reconciler/diff.spec.lua
  plugin/src/Reconciler/getProperty.lua
  plugin/src/Reconciler/hydrate.lua
  plugin/src/Reconciler/hydrate.spec.lua
  plugin/src/Reconciler/reify.spec.lua
  plugin/src/Reconciler/setProperty.lua
  plugin/src/ServeSession.lua
  plugin/src/Types.lua
  plugin/src/Version.lua
  plugin/src/Version.spec.lua
  plugin/src/createSignal.lua
  plugin/src/ignorePlaceIds.lua
  plugin/src/init.server.lua
  plugin/src/invariant.lua
  plugin/src/soundPlayer.lua
  plugin/src/strict.lua
Labels: scope: plugin, type: tech debt, skip changelog

#787 Create .git-blame-ignore-revs & Add Stylua pr
  .git-blame-ignore-revs
Labels: skip changelog

#788 Clean up changelog in preparation for Rojo 7.4.0
  CHANGELOG.md
Labels: skip changelog
