Repository rojo-rbx/rojo, pull requests merged in 2023-07, with the labels that each got.

#689 Sync reminder notification & notification actions
  CHANGELOG.md
  plugin/src/App/Notifications.lua
  plugin/src/App/StatusPages/Settings/Setting.lua
  plugin/src/App/StatusPages/Settings/init.lua
  plugin/src/App/init.lua
  plugin/src/Settings.lua
  plugin/src/ignorePlaceIds.lua
Labels: type: enhancement, scope: plugin, size: medium, impact: medium, status: needs review

#708 Fix Rojo breaking when users undo/redo in Studio
  CHANGELOG.md
  plugin/src/App/init.lua
  plugin/src/Reconciler/applyPatch.lua
Labels: type: bug, scope: plugin, size: small, impact: medium, status: needs review

#692 Improve sync info
  CHANGELOG.md
  plugin/src/App/StatusPages/Connected.lua
  plugin/src/App/init.lua
  plugin/src/PatchSet.lua
Labels: type: enhancement, scope: plugin

#713 Handle strings and instances in patch removes for visualizer
  plugin/src/App/Components/PatchVisualizer/init.lua
Labels: type: bug, scope: plugin, size: small, impact: small, status: needs review

#719 (feat) Add Changelog Check Action
  .github/workflows/ci.yml
Labels: no changelog

#720 (fix) Move changelog job to it's own workflow
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
Labels: skip changelog

#709 Select Instances from diff tree
  CHANGELOG.md
  plugin/src/App/Components/PatchVisualizer/DomLabel.lua
  plugin/src/App/Components/PatchVisualizer/init.lua
Labels: type: enhancement, scope: plugin, size: small, impact: small, status: needs review

#717 Show failed to apply in visualizer
  CHANGELOG.md
  plugin/src/App/Components/PatchVisualizer/ChangeList.lua
  plugin/src/App/Components/PatchVisualizer/DisplayValue.lua
  plugin/src/App/Components/PatchVisualizer/DomLabel.lua
  plugin/src/App/Components/PatchVisualizer/init.lua
  plugin/src/App/StatusPages/Connected.lua
  plugin/src/App/Theme.lua
Labels: type: enhancement, scope: plugin, size: small, impact: small, status: needs review

#722 Add buttons on connected page
  CHANGELOG.md
  plugin/src/App/StatusPages/Connected.lua
  plugin/src/App/init.lua
Labels: type: enhancement, scope: plugin, size: small, impact: small, status: needs review

#730 Removed InstanceSnapshot snapshot_id's redudant Ref.
  src/snapshot/instance_snapshot.rs
  src/snapshot/patch_apply.rs
  src/snapshot/patch_compute.rs
  src/snapshot/tests/compute.rs
  src/snapshot/tests/snapshots/librojo__snapshot__tests__compute__add_child.snap
  src/snapshot_middleware/json_model.rs
  src/snapshot_middleware/project.rs
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__csv__test__csv_from_vfs.snap
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__csv__test__csv_with_meta.snap
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__dir__test__empty_folder.snap
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__dir__test__folder_in_folder.snap
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__json__test__instance_from_vfs.snap
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__json_model__test__model_from_vfs.snap
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__json_model__test__model_from_vfs_legacy.snap
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__lua__test__client_from_vfs.snap
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__lua__test__module_from_vfs.snap
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__lua__test__module_with_meta.snap
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__lua__test__script_disabled.snap
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__lua__test__script_with_meta.snap
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__lua__test__server_from_vfs.snap
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__project__test__project_from_direct_file.snap
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__project__test__project_path_property_overrides.snap
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__project__test__project_with_children.snap
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__project__test__project_with_path_to_project.snap
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__project__test__project_with_path_to_project_with_children.snap
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__project__test__project_with_path_to_txt.snap
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__project__test__project_with_resolved_properties.snap
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__project__test__project_with_unresolved_properties.snap
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__txt__test__instance_from_vfs.snap
Labels: skip changelog

#633 Add support for TOML files
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  src/snapshot_middleware/mod.rs
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__toml__test__instance_from_vfs.snap
  src/snapshot_middleware/toml.rs
Labels: type: enhancement, scope: cli, size: medium, status: needs review

#739 Improve Rojo sync reliability
  plugin/src/ApiContext.lua
  plugin/src/ServeSession.lua
Labels: scope: plugin, size: small, impact: small, type: tech debt, status: needs review, skip changelog

#741 Expose reconciler hooks on servesession
  plugin/src/App/init.lua
  plugin/src/ServeSession.lua
Labels: scope: plugin, size: small, type: tech debt, skip changelog
