Repository rojo-rbx/rojo, pull requests merged in 2024-01, with the labels that each got.

#829 Improve visualization for arrays
  CHANGELOG.md
  plugin/src/App/Components/PatchVisualizer/DisplayValue.lua
Labels: type: enhancement, scope: plugin, size: small, impact: small, status: needs review

#827 Conserve CI minutes via cache, skip macOS+Windows MSRV builds
  .github/workflows/ci.yml
Labels: skip changelog

#833 Don't remind to sync if the lock is claimed
  CHANGELOG.md
  plugin/src/App/init.lua
Labels: scope: plugin

#835 Don't serialize `emitLegacyScripts` if it's `None`
  src/project.rs
Labels: scope: cli, skip changelog

#836 Ensure plugin and Cargo version match exact at compile-time
  build.rs
Labels: skip changelog

#837 Release v7.4.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  plugin/Version.txt
  plugin/rbx_dom_lua/database.json
  src/cli/build.rs
Labels: version 7.4

#813 Add a new `syncRules` field project files to allow users to specify middleware to use for files
  CHANGELOG.md
  rojo-test/build-test-snapshots/end_to_end__tests__build__sync_rule_alone.snap
  rojo-test/build-test-snapshots/end_to_end__tests__build__sync_rule_complex.snap
  rojo-test/build-test-snapshots/end_to_end__tests__build__sync_rule_nested_projects.snap
  rojo-test/build-tests/sync_rule_alone/default.project.json
  rojo-test/build-tests/sync_rule_alone/src/foo.nothing
  rojo-test/build-tests/sync_rule_complex/default.project.json
  rojo-test/build-tests/sync_rule_complex/src/bar.server
  rojo-test/build-tests/sync_rule_complex/src/baz.client
  rojo-test/build-tests/sync_rule_complex/src/cat.dog.rojo2
  rojo-test/build-tests/sync_rule_complex/src/foo.module
  rojo-test/build-tests/sync_rule_complex/src/qux.rojo
  rojo-test/build-tests/sync_rule_complex/src/rat.ignore.rojo
  rojo-test/build-tests/sync_rule_nested_projects/default.project.json
  rojo-test/build-tests/sync_rule_nested_projects/nested.project.json
  rojo-test/build-tests/sync_rule_nested_projects/src/ignored.rojo
  rojo-test/build-tests/sync_rule_nested_projects/src/ignored.txt
  rojo-test/serve-test-snapshots/end_to_end__tests__serve__sync_rule_alone_all.snap
  rojo-test/serve-test-snapshots/end_to_end__tests__serve__sync_rule_alone_info.snap
  rojo-test/serve-test-snapshots/end_to_end__tests__serve__sync_rule_complex_all.snap
  rojo-test/serve-test-snapshots/end_to_end__tests__serve__sync_rule_complex_info.snap
  rojo-test/serve-test-snapshots/end_to_end__tests__serve__sync_rule_no_extension_all.snap
  rojo-test/serve-test-snapshots/end_to_end__tests__serve__sync_rule_no_extension_info.snap
  rojo-test/serve-tests/sync_rule_alone/default.project.json
  rojo-test/serve-tests/sync_rule_alone/src/foo.nothing
  rojo-test/serve-tests/sync_rule_complex/default.project.json
  rojo-test/serve-tests/sync_rule_complex/src/bar.server
  rojo-test/serve-tests/sync_rule_complex/src/baz.client
  rojo-test/serve-tests/sync_rule_complex/src/cat.dog.rojo2
  rojo-test/serve-tests/sync_rule_complex/src/foo.module
  rojo-test/serve-tests/sync_rule_complex/src/qux.rojo
  rojo-test/serve-tests/sync_rule_complex/src/rat.ignore.rojo
  rojo-test/serve-tests/sync_rule_no_extension/default.project.json
  rojo-test/serve-tests/sync_rule_no_extension/src/no_extension
  src/project.rs
  src/snapshot/metadata.rs
  src/snapshot_middleware/csv.rs
  src/snapshot_middleware/json.rs
  src/snapshot_middleware/json_model.rs
  src/snapshot_middleware/lua.rs
  src/snapshot_middleware/mod.rs
  src/snapshot_middleware/project.rs
  src/snapshot_middleware/rbxm.rs
  src/snapshot_middleware/rbxmx.rs
  src/snapshot_middleware/toml.rs
  src/snapshot_middleware/txt.rs
  tests/tests/build.rs
  tests/tests/serve.rs
Labels: type: enhancement, size: medium, impact: medium

#838 Use Studio theming
  CHANGELOG.md
  plugin/src/App/Components/Dropdown.lua
  plugin/src/App/Components/PatchVisualizer/ChangeList.lua
  plugin/src/App/Components/PatchVisualizer/DomLabel.lua
  plugin/src/App/Components/PatchVisualizer/init.lua
  plugin/src/App/StatusPages/Confirming.lua
  plugin/src/App/Theme.lua
Labels: scope: plugin, size: small, impact: small, status: needs review

#834 Visualize table changes
  CHANGELOG.md
  plugin/src/App/Components/PatchVisualizer/ChangeList.lua
  plugin/src/App/Components/PatchVisualizer/DisplayValue.lua
  plugin/src/App/Components/PatchVisualizer/DomLabel.lua
  plugin/src/App/Components/PatchVisualizer/init.lua
  plugin/src/App/Components/ScrollingFrame.lua
  plugin/src/App/Components/StringDiffVisualizer/init.lua
  plugin/src/App/Components/TableDiffVisualizer/Array.lua
  plugin/src/App/Components/TableDiffVisualizer/Dictionary.lua
  plugin/src/App/Components/TableDiffVisualizer/init.lua
  plugin/src/App/StatusPages/Confirming.lua
  plugin/src/App/StatusPages/Connected.lua
Labels: scope: plugin, size: medium, status: needs review

#840 Play Solo & Test Server auto connect
  CHANGELOG.md
  plugin/src/App/StatusPages/Settings/init.lua
  plugin/src/App/init.lua
  plugin/src/Settings.lua
Labels: scope: plugin

#844 Show failed additions and removals in visualizer
  plugin/src/PatchTree.lua
Labels: type: bug, scope: plugin, skip changelog
