Repository rojo-rbx/rojo, pull requests merged in 2024-03, with the labels that each got.

#887 Update Cargo dependencies
  Cargo.lock
  Cargo.toml
  crates/memofs/Cargo.toml
  crates/rojo-insta-ext/Cargo.toml
Labels: scope: cli, type: tech debt, skip changelog

#889 Trim plugin version string
  plugin/src/Config.lua
Labels: scope: plugin, size: small, impact: small, version 7.4

#890 Trim plugin version string
  plugin/src/Config.lua
Labels: scope: plugin, size: small, impact: small, skip changelog

#894 Release memofs 0.3.0, bump Rojo dependency
  Cargo.lock
  Cargo.toml
  crates/memofs/CHANGELOG.md
  crates/memofs/Cargo.toml
Labels: scope: cli, size: small, impact: medium, skip changelog
