Repository rojo-rbx/rojo, pull requests merged in 2024-08, with the labels that each got.

#955 In the plugin, don't write properties if they're nil and also a number
  CHANGELOG.md
  aftman.toml
  plugin/src/Reconciler/setProperty.lua
Labels: scope: plugin, version 7.4

#956 Set linguist language of lua files to luau
  .gitattributes
Labels: type: tech debt, skip changelog

#832 Check for compatible updates in plugin
  CHANGELOG.md
  plugin/src/App/StatusPages/Connected.lua
  plugin/src/App/StatusPages/Settings/init.lua
  plugin/src/App/init.lua
  plugin/src/Settings.lua
  plugin/src/Version.lua
  plugin/src/Version.spec.lua
  plugin/src/timeUtil.lua
Labels: type: enhancement, scope: plugin, size: small, status: needs decision

#958 Update rbx-binary to 0.7.6 in 7.4.x branch
  Cargo.lock
  Cargo.toml
Labels: skip changelog, version 7.4

#959 Release Rojo 7.4.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  plugin/Version.txt
Labels: version 7.4

#944 Actually include attribute-defined properties in patch computation
  rojo-test/serve-test-snapshots/end_to_end__tests__serve__ref_properties_patch_update_all-2.snap
  rojo-test/serve-test-snapshots/end_to_end__tests__serve__ref_properties_patch_update_all.snap
  rojo-test/serve-test-snapshots/end_to_end__tests__serve__ref_properties_patch_update_info.snap
  src/snapshot/patch_compute.rs
  tests/tests/serve.rs
Labels: scope: cli, skip changelog

#964 Release Rojo v7.4.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  plugin/Version.txt
  plugin/rbx_dom_lua/customProperties.lua
  plugin/rbx_dom_lua/database.json
Labels: version 7.4

#965 Update rbx-dom dependencies
  Cargo.lock
  Cargo.toml
  plugin/rbx_dom_lua/customProperties.lua
  plugin/rbx_dom_lua/database.json
Labels: skip changelog
