Repository rojo-rbx/rojo, pull requests merged in 2024-02, with the labels that each got.

#845 Catch more sync failures
  plugin/src/InstanceMap.lua
  plugin/src/PatchTree.lua
  plugin/src/Reconciler/applyPatch.lua
Labels: scope: plugin, skip changelog

#846 Lint plugin src
  .github/workflows/ci.yml
  aftman.toml
  plugin/src/ApiContext.lua
  plugin/src/App/Components/Dropdown.lua
  plugin/src/App/Components/PatchVisualizer/DisplayValue.lua
  plugin/src/App/Components/PatchVisualizer/DomLabel.lua
  plugin/src/App/Components/TextButton.lua
  plugin/src/App/StatusPages/Confirming.lua
  plugin/src/App/Theme.lua
  plugin/src/Reconciler/applyPatch.lua
  plugin/src/Reconciler/decodeValue.lua
  plugin/src/Reconciler/diff.lua
  plugin/src/Reconciler/hydrate.lua
  plugin/src/Reconciler/reify.lua
  plugin/src/Reconciler/reify.spec.lua
  plugin/src/Reconciler/setProperty.lua
  plugin/src/ServeSession.lua
  plugin/src/createSignal.lua
Labels: scope: plugin, size: small, impact: small, type: tech debt, skip changelog

#847 Catch failed http requests that didn't error so we can handle them correctly
  CHANGELOG.md
  plugin/http/Error.lua
  plugin/http/init.lua
Labels: type: enhancement, scope: plugin

#850 Add benchmarking, perf gains, and better settings UI
  plugin/src/App/Components/StringDiffVisualizer/init.lua
  plugin/src/App/Components/TableDiffVisualizer/Array.lua
  plugin/src/App/Components/TableDiffVisualizer/Dictionary.lua
  plugin/src/App/StatusPages/Confirming.lua
  plugin/src/App/StatusPages/Settings/Setting.lua
  plugin/src/App/StatusPages/Settings/init.lua
  plugin/src/PatchTree.lua
  plugin/src/Reconciler/init.lua
  plugin/src/Settings.lua
  plugin/src/Timer.lua
Labels: scope: plugin, type: tech debt, skip changelog

#865 Insert Model.NeedsPivotMigration in insert_instance when missing
  rojo-test/build-test-snapshots/end_to_end__tests__build__rbxmx_in_folder.snap
  rojo-test/build-test-snapshots/end_to_end__tests__build__unresolved_values.snap
  rojo-test/serve-test-snapshots/end_to_end__tests__serve__empty_json_model_all-2.snap
  rojo-test/serve-test-snapshots/end_to_end__tests__serve__empty_json_model_subscribe.snap
  src/snapshot/tree.rs
Labels: scope: cli, size: small, impact: medium, version 7.4

#868 rbx_dom_lua rojo-rbx/rbx-dom@6ccd30f (custom pivot get/set)
  CHANGELOG.md
  plugin/rbx_dom_lua/EncodedValue.lua
  plugin/rbx_dom_lua/allValues.json
  plugin/rbx_dom_lua/customProperties.lua
  plugin/rbx_dom_lua/database.json
Labels: scope: plugin, size: small, impact: medium

#867 Add entry for model pivot build fix to 7.4.x changelog
  CHANGELOG.md
Labels: version 7.4

#869 Backport #868 to 7.4 (custom pivot geter/setter)
  CHANGELOG.md
  plugin/rbx_dom_lua/EncodedValue.lua
  plugin/rbx_dom_lua/allValues.json
  plugin/rbx_dom_lua/customProperties.lua
  plugin/rbx_dom_lua/database.json
Labels: scope: plugin, version 7.4

#861 Migrate to using Rustls
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
Labels: scope: cli, skip changelog

#862 Allow building Rojo with `profile-with-tracy` feature
  Cargo.lock
  Cargo.toml
  src/main.rs
Labels: scope: cli, skip changelog

#871 Backport #870 (optional project names) to 7.4.x
  CHANGELOG.md
  rojo-test/build-test-snapshots/end_to_end__tests__build__no_name_default_project.snap
  rojo-test/build-test-snapshots/end_to_end__tests__build__no_name_project.snap
  rojo-test/build-test-snapshots/end_to_end__tests__build__no_name_top_level_project.snap
  rojo-test/build-tests/no_name_default_project/default.project.json
  rojo-test/build-tests/no_name_default_project/src/third-level/default.project.json
  rojo-test/build-tests/no_name_project/default.project.json
  rojo-test/build-tests/no_name_project/src/bool_value.project.json
  rojo-test/build-tests/no_name_top_level_project/default.project.json
  rojo-test/serve-test-snapshots/end_to_end__tests__serve__no_name_default_project_all.snap
  rojo-test/serve-test-snapshots/end_to_end__tests__serve__no_name_default_project_info.snap
  rojo-test/serve-test-snapshots/end_to_end__tests__serve__no_name_project_all.snap
  rojo-test/serve-test-snapshots/end_to_end__tests__serve__no_name_project_info.snap
  rojo-test/serve-test-snapshots/end_to_end__tests__serve__no_name_top_level_project_all.snap
  rojo-test/serve-test-snapshots/end_to_end__tests__serve__no_name_top_level_project_info.snap
  rojo-test/serve-tests/no_name_default_project/default.project.json
  rojo-test/serve-tests/no_name_default_project/src/third-level/default.project.json
  rojo-test/serve-tests/no_name_project/default.project.json
  rojo-test/serve-tests/no_name_project/src/bool_value.project.json
  rojo-test/serve-tests/no_name_top_level_project/default.project.json
  src/project.rs
  src/serve_session.rs
  src/snapshot_middleware/project.rs
  src/snapshot_middleware/snapshots/librojo__snapshot_middleware__project__test__no_name_project.snap
  tests/tests/build.rs
  tests/tests/serve.rs
Labels: version 7.4

#872 Release 7.4.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  plugin/Version.txt
Labels: version 7.4

#882 Build tree ancestry correctly
  plugin/src/PatchTree.lua
Labels: type: bug, scope: plugin, impact: high, regression, size: small, skip changelog

#884 Use GuiState instead of manual calculation for tooltips
  plugin/src/App/Components/Tooltip.lua
Labels: scope: plugin, size: small, impact: small, status: needs review, skip changelog
