Repository rojo-rbx/rojo, pull requests merged in 2024-11, with the labels that each got.

#987 Make sync reminder more detailed
  CHANGELOG.md
  plugin/src/App/init.lua
Labels: scope: plugin, skip changelog

#989 Update version in master branch
  Cargo.lock
  Cargo.toml
  plugin/Version.txt
Labels: scope: plugin, type: tech debt, skip changelog

#990 Use 7.5.0-prealpha for master branch version, not 7.4.4
  Cargo.lock
  Cargo.toml
  plugin/Version.txt
Labels: skip changelog

#988 Use FontFace and consistent text sizing
  CHANGELOG.md
  plugin/src/App/Components/Checkbox.lua
  plugin/src/App/Components/CodeLabel.lua
  plugin/src/App/Components/Dropdown.lua
  plugin/src/App/Components/Header.lua
  plugin/src/App/Components/PatchVisualizer/ChangeList.lua
  plugin/src/App/Components/PatchVisualizer/DisplayValue.lua
  plugin/src/App/Components/PatchVisualizer/DomLabel.lua
  plugin/src/App/Components/PatchVisualizer/init.lua
  plugin/src/App/Components/StringDiffVisualizer/init.lua
  plugin/src/App/Components/TableDiffVisualizer/Array.lua
  plugin/src/App/Components/TableDiffVisualizer/Dictionary.lua
  plugin/src/App/Components/Tag.lua
  plugin/src/App/Components/TextButton.lua
  plugin/src/App/Components/TextInput.lua
  plugin/src/App/Components/Tooltip.lua
  plugin/src/App/Notifications.lua
  plugin/src/App/StatusPages/Confirming.lua
  plugin/src/App/StatusPages/Connected.lua
  plugin/src/App/StatusPages/Error.lua
  plugin/src/App/StatusPages/NotConnected.lua
  plugin/src/App/StatusPages/Settings/Setting.lua
  plugin/src/App/StatusPages/Settings/init.lua
  plugin/src/App/Theme.lua
  plugin/src/App/getTextBoundsAsync.lua
Labels: scope: plugin, type: tech debt

#992 Plugin dev ux improvements
  .dir-locals.el
  .github/workflows/release.yml
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  CONTRIBUTING.md
  build.rs
  plugin.project.json
  plugin/run-tests.server.lua
  plugin/test
  plugin/test-place.project.json
  plugin/watch-build.sh
  scripts/unit-test-plugin.sh
  scripts/watch-build-plugin.sh
Labels: size: small, type: tech debt, skip changelog
